.vscode
.idea
.vs/

*/.idea
*/.vscode
*/.vs/
*/.angular

*/node_modules

*/*/bin
*/*/obj
*/*/packages/
*/*/*.log

*/*/*.tmp
*/*/*.temp

*/*/*.user
*/*/*.rsuser
*/*/*.suo
*/*/*.userosscache
*/*/*.sln.docstates
server/*.sln
server/*.sln.*.*
server/server/appsettings.local.json


*/*/secrets.json
*/*/*.key
*/*/Migrations