<div class="home-component h-full w-full flex flex-col align-center items-center justify-center  px-6 py-12 lg:px-8">
  <p class="text-3xl font-mono font-bold tracking-wide py-3.5"> PORTFOLIO</p>

  <div class="flex w-full flex-row overflow-x-scroll ">
    <img class="pr-10" src="/rome_1.jpg" alt="Photo voyage Rome statue" width="350" height="200">
    <img class="pr-10" src="/rome_2.JPG" alt="Photo voyage Rome statue" width="350" height="200">
    <img class="pr-10" src="/rome_3.JPG" alt="Photo voyage Rome statue" width="350" height="200">
    <img class="pr-10" src="/nathan.JPG" alt="Photo moto Nathan" width="350" height="200">
    <img class="pr-10" src="/thomas.jpg" alt="Photo moto Thomas" width="350" height="200">
    <img class="pr-10" src="/toulouse.JPG" alt="Photo ma moto Toulouse by night" width="350" height="200">
    <img class="pr-10" src="/cheval.jpg" alt="Photo statue de chevaux Rome" width="350" height="200">
    <img class="pr-10" src="/IMG_2108.jpg" alt="Photo Ludenvielle" width="350" height="200">
  </div>
</div>
